<header class="header header-home-five">
    <nav class="navbar navbar-default header-navigation stricky">
        <div class="thm-container clearfix">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed rideflex-icon-menu" data-toggle="collapse" data-target=".main-navigation" aria-expanded="false"> </button>
                <a class="navbar-brand" href="index.html">
                    <img src="Assets/img/header-logo-1.png" alt="Awesome Image"/>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse main-navigation mainmenu " id="main-nav-bar">
                
                <ul class="nav navbar-nav navigation-box">
                    <li class="<%= (page == 'home') ? 'current' : '' %>"> 
                        <a href="/home">Home</a>
                    </li>
                    <li class="<%= (page == 'features') ? 'current' : '' %>"> 
                        <a href="/features">Features</a> 
                    </li>
                    <li class="<%= (page == 'team') ? 'current' : '' %>"> 
                        <a href="/team">Team</a> 
                    </li>
                    <li class="<%= (page == 'app') ? 'current' : '' %>"> 
                        <a href="/app">App</a>
                    </li>
                    <li class="<%= (page == 'contact') ? 'current' : '' %>">
                         <a href="/contact">Contact</a> 
                    </li>
                </ul>                
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container -->
    </nav>   
</header><!-- /.header -->



